@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

html,
body {
  height: 92vh;
  margin: 0;
  padding: 0;
  font-family: "Montserrat:wght@300", sans-serif;
  background: #f0f4fb;
}

.card-image {
  width: 200px;
  height: 200px;
}

.card-body {
  background: #212529;
  border-radius: 0 0 3px 3px;
  color: rgb(233, 233, 233);
}

.card-body p {
  color: rgb(197, 197, 197);
}

.drop-shadow {
  filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.35));
}

.sw-background {
  width: 500px;
  height: 280px;
}

.box-image {
  display: flex;
  justify-content: center;
  background: #ffff;
  border-radius: 5px 5px;
}

h4,
a {
  color: #ffd000;
}

footer {
  background: #212529;
}

footer a {
  color: #ffd000;
}
